[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "fish/z"]
	path = fish/z
	url = git@github.com:jethrokuan/z.git
[submodule "fish/bass"]
	path = fish/bass
	url = git@github.com:edc/bass.git
